# Binaries and build artifacts
bin/
dist/
neuron-bin
/neuron
neuron_cli

# OS specific files
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride

# Go workspace
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test
main_test.go
